* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

[data-role=page] {
    background: transparent url('img/cream_pixels@2X.png') no-repeat !important;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.ttf") format("opentype");  
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-image: url(../img/cream_pixels.png);
    background-repeat: repeat;
    background-attachment:fixed;

    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', "Lato", Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;*/
}

p {
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 6%;
    left: 6%;
    line-height: 170%;
    color: #091a37;
    font-family: "Lato";
}

h1 {
    font-size:24px;
    color:white;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-shadow:none !important;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.next {
    position: absolute;
    left: 41.5% !important; 
    padding: 0px !important;
    bottom: 12%;
    width: 17%;
}

.textbox {
    text-align: center;
    vertical-align: middle;
    text-color:#091a37;
}

.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typewriter {
    font-size: 18px;
    font-family: "Lato";
    text-align: center;
    position: absolute;
    top: 20%;
    right: 6%;
    left: 6%;
    line-height: 170%;
    color: #091a37;   
}

.name {
    position: absolute;
    top: 30%;
    left: 18%;
}

input.form, h1.label {
    height: 50px; 
    line-height: 50px;
}

.label{
    font-size: 18px;
    font-weight: normal;
    font-family: "Lato";
    color: #091a37;
    position: absolute;
    top: 30%;
    left: 18%;
    line-height: 170%;
}

.form {
    font-size: 18px;
    font-weight: normal;
    font-family: "Lato";
    color: #091a37 !important;
    position: absolute;
    top: 30%;
    left: 30%;
    line-height: 170%;
    background: transparent;
    border: none;
}

hr.line {
    left: 30%;
    margin-top: 31% !important;
    width: 40%;
    height: 5px;
    background-color: #091a37;
}

.mascotDisplay {
    position: absolute;
    top: 25%;
    bottom: 20%;
    left: 5%;
    right: 5%;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}