* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

[data-role=page] {
    background: transparent url('img/cream_pixels@2X.png') no-repeat !important;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.ttf") format("opentype");  
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-image: url(../img/cream_pixels.png);
    background-repeat: repeat;
    background-attachment:fixed;

    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', "Lato", Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;*/
}

p {
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 6%;
    left: 6%;
    line-height: 170%;
    color: #091a37;
    font-family: "Lato";
}

h1 {
    font-size:24px;
    color:white;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-shadow:none !important;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.next {
    position: absolute;
    left: 41.5% !important; 
    padding: 0px !important;
    bottom: 12%;
    width: 17%;
}

.textbox {
    text-align: center;
    vertical-align: middle;
    text-color:#091a37;
}

.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typewriter {
    font-size: 18px;
    font-family: "Lato";
    text-align: center;
    position: absolute;
    top: 33%; 
    right: 6%;
    left: 6%;
    line-height: 170%;
    color: #091a37;  
}

.name {
    position: absolute;
    top: 30%;
    left: 18%;
}

input.form, h1.label {
    height: 50px; 
    line-height: 50px;
}

.label{
    font-size: 18px;
    font-weight: normal;
    font-family: "Lato";
    color: #091a37;
    position: absolute;
    top: 30%;
    left: 18%;
    line-height: 170%;
}

.form {
    font-size: 18px;
    font-weight: normal;
    font-family: "Lato";
    color: #091a37 !important;
    position: absolute;
    top: 30%;
    left: 30%;
    line-height: 170%;
    background: transparent;
    border-width:1px;
    border-bottom: thick solid #091a37;
}

hr.line {
    left: 30%;
    top: 31% !important;
    width: 40%;
    height: 1px;
    background-color: #091a37;
    border: 0 none;
}

img {
    max-width: 100%;
}

table.mascotDisplay {
    position: absolute !important;
    top: 30% !important;
    bottom: 20% !important;
    left: 10% !important;
    right: 10% !important;
    width: 80% !important;
}

table.mascotDisplay td {
    position: relative;
    width: 33% !important;
    vertical-align: center !important;
    text-align: center !important;
}

div.didyouknow {
    position: absolute;
    text-align: center;
    width: 6em !important;
    top: 4em;
    left: 50%;  
    margin-left: -3em; 
}

.mascot {
    z-index: 1;
}

.selection {
    position: absolute;
    z-index: 2;
    top: 10px !important;
    left: 0 !important;
}

div.stepTitle div.stageTitle {
    display: block;
}

div.stageTitle {
    position: static;
    margin-top: 1.5em;
    height: 3em;
    text-align: center;
}

p.stageTitle {
    font-size: 22px;
    text-align: center;
    position: static;
    right: 6%;
    left: 6%;
    line-height: 170%;
    color: #68b3c1;
    font-family: "Lato";
}

p.stepTitle {
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50% !important;
    margin-top: -9px;
    right: 6%;
    left: 6%;
    line-height: 170%;
    color: #091a37;
    font-family: "Lato";
}

.stepTitle .stepTitleText{
    height: 3.5em;
}

p.stepTitleText img.footprint img.lock{
    display: inline-block;
    top-padding: 5px;
}

 div.stepTitle {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-color: #68b3c1;
    border-bottom-style: solid;
} 

.footprint {
    position: absolute;
    float: left;
    padding: 10px 0;
    width: 2em;
}

.lock {
    position: absolute;
    float: right;
    width: 2em;
    right: 4px;
    top: 13px;
}

.stageLocked {
    position: absolute;
    width: 3em;
    left: 50% !important;
    margin-left: -1.5em;
}

.character {
    position: absolute;
    top: 4em;
    width: 18em;
    left: 50%;
    margin-left: -9em;
}

.characterIntro {
    position: absolute;
    top: 4em;
    width: 18em;
    left: 50%;
    margin-left: -9em;
}

div.popquiz div.quizOption {
    display: block;
}

.quiz * {
    line-height: 1em !important;    
}

.popquizimg {
    position: absolute;
    top: 4em;
    width: 8em;
    left: 50%;
    margin-left: -4em;
}

.quizOption1 {
    position: absolute;
    top: 9em;
    height: 4em;
    border-radius: 10px;
    border: 2px solid #68b3c1;
    padding: 20px; 
    width: 90%;
    left: 5%;
}

.quizOption2 {
    position: absolute;
    top: 14em;
    height: 4em;
    border-radius: 10px;
    border: 2px solid #68b3c1;
    padding: 20px; 
    width: 90%;
    left: 5%;
}

.quizOption3 {
    position: absolute;
    top: 19em;
    height: 4em;
    border-radius: 10px;
    border: 2px solid #68b3c1;
    padding: 20px; 
    width: 90%;
    left: 5%;
}

.quizOption4 {
    position: absolute;
    top: 24em;
    height: 4em;
    border-radius: 10px;
    border: 2px solid #68b3c1;
    padding: 20px; 
    width: 90%;
    left: 5%;
}

p.textWithMascot {
    padding-top: 10em !important;
    position: static;
}

.thought1 *{
    position: absolute;
    width: 10em;
    top: 9em;
}

.thought2 *{
    position: absolute;
    width: 10em;
    top: 12em;
    left: 50%;
}

.thought3 *{
    position: absolute;
    width: 10em;
    top: 20em;
    left: 10%;
}

.thoughtText1 {
    position: absolute;
    line-height: 1em;
    top: 11em;
    width: 8em;
    padding-left: 0.5em;
}

.thoughtText2 {
    position: absolute;
    line-height: 1em;
    top: 13em;
    width: 8em;
    padding-left: 1em;
}

.thoughtText3 {
    position: absolute;
    line-height: 1em;
    top: 22em;
    width: 8em;
    padding-left: 2em;
}

.badThoughts .textWithMascot {
    display: block;
}

.badThoughts {
    display: block;
    position: static;
    line-height: 1em;
    font-style: italic;
    font-size: 14px;
}

.badThoughtsBox {
    border-radius: 10px;
    border: 1px solid #68b3c1;
}

.setReminder *{
    position: static;
    width: 50%;
    margin-top: 2em;
    margin-left: 25%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #68b3c1;
}

.hook {
    display: inline-block;
    width: 2em;
    margin-left: 2.2em;
    margin-top: 24em;
}

.phqOption {
    margin-left: 5%;
    margin-top: 15em;
    width: 90%;
    table-layout: fixed;
}

table.phqOption {
    border-collapse: separate;
    border-spacing: 7px !important;
}

.phqOption td {
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #68b3c1;
    padding: 0.5em;
    text-align: center;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}